:root {
    --white: #FFFFFF;
    --active-drop: #F6F4FF;
    --text-input: #C0BCDF;
    --title-input: #CECAEB;
    --text: #817CA5;
    --disabled: #A39FC1;
    --disabled2: #8B85B1;
    --title: #413C5F;
    --label: #0B1C49;
    --bg-current: #C9C5E8;
    --bg-current2: #5845DD;
    --bg-current3: #87839F;
    --primary-day: #0B3FFF;
    --red: #DA2121;
}
